/config/google.yml
/config/aws.json
/config/aws.php
/log/console.log
/config/db.yml
/config/client.p12
log/development.log

web/pts/build
web/pts_eds
web/pts/extensible-1.5.1
web/pts/extjs
web/pts/resources/css/dev.css
web/pts/docs/*
web/pts/dl/*
!web/pts/dl/.gitkeep
!web/pts/docs/schema
!web/pts/docs/guide

vendor
patches
.project
.settings
node_modules
bower_components
tmp
web/pts/resources/images/default
web/pts/resources/themes
web/pts/resources/images/ol/*
!web/pts/resources/images/ol/layer-switcher-maximize.png
