log/development.log

web/pts/build
web/pts_eds
web/pts/extensible-1.5.1
web/pts/extjs
web/pts/lib
web/pts/resources/css/dev.css
web/pts/docs/*
web/pts/dl/*
!web/pts/dl/.gitkeep
!web/pts/docs/schema
!web/pts/docs/guide

vendor
patches
