[submodule "vendor/Silex"]
	path = vendor/Silex
	url = https://github.com/fabpot/Silex.git
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig.git
[submodule "vendor/Idiorm"]
	path = vendor/Idiorm
	url = https://github.com/j4mie/idiorm.git
[submodule "vendor/Monolog"]
	path = vendor/Monolog
	url = https://github.com/Seldaek/monolog.git
[submodule "web/pts/lib/geoext"]
	path = web/pts/lib/geoext
	url = https://github.com/geoext/geoext2.git
[submodule "web/pts/lib/openlayers"]
	path = web/pts/lib/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "web/pts/lib/highlight"]
	path = web/pts/lib/highlight
	url = https://github.com/jlblcc/highlight.js.git
[submodule "web/pts/lib/extensible"]
	path = web/pts/lib/extensible
	url = git@github.com:bmoeskau/Extensible.git
