<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Project Tracking System</title>

    <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="lib/extensible/resources/css/calendar.css" />
    <link rel="stylesheet" type="text/css" href="lib/extensible/resources/css/calendar-colors.css" />
    <link rel="stylesheet" type="text/css" href="resources/css/pts.css">
    <link rel="stylesheet" type="text/css" href="lib/highlight/src/styles/github.css">

    <script type="text/javascript" src="extjs/ext-all-debug.js"></script>
    <script type="text/javascript" src="lib/extensible/src/Extensible.js"></script>

    <script src="lib/openlayers/lib/OpenLayers.js"></script>
    <script type="text/javascript">
        Ext.namespace('PTS');
        Ext.define('PTS.UserId', {
            singleton: true,

            id: '{{ loginid }}',
            paths: [
            {%- for path, name in paths -%}
                {text:"{{ name|e('js') }}",  url:"/pts/{{ path|e('url') }}"}{% if not loop.last %}, {% endif %}
            {%- endfor -%}
            ],
            title: "{{ apptitle|e('js') }}"
        });
    </script>
    <script type="text/javascript" src="lib/highlight/build/highlight.pack.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body></body>
</html>
